<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to mReport.com,</h1>
    <p>
      An issue has been reported by <%= @user.phone %> in your ward.
      Please visit this url for more info
      <%= @url %>
    </p>
    <p>
      <%= @ticket.description %>
    </p>
    <p>
      Kindly take the necessary action.
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>